; ============================================================
;   HNS 皮肤系统 - 皮肤池配置文件 (T/CT 分区块)
; ------------------------------------------------------------
;  [SETTINGS]
;    rent_days      金币购买获得的租期天数, 0 = 直接永久
;    upgrade_price  把已购限时皮肤升级为永久的价格 (ICGB金币)
;    knife_free     刀皮里前 N 把免费 (按 KnifeModels.ini 出现顺序), 其余按 PRICE 花 GBIC
;    nade_free      投掷物皮肤里前 N 个免费 (按 nade_skins.cfg 出现顺序), 其余按价格花 GBIC
;    buy_gold_text  /skin 里「购买点数」显示的说明
;    buy_gold_url   可选, 填写后可打开购买页面 (MOTD)
;    checkin_bonus     每日签到奖励 GBIC, 默认 10
;    playtime_bonus    在线满 1 小时奖励 GBIC, 默认 5
;    playtime_seconds  在线奖励所需秒数, 默认 3600
;    precache_max   每张地图最多预缓存多少个皮肤模型 (CS1.6 模型池只有 512 个,
;                   且和地图的 *刷子模型共享)。重型 HNS 地图本身能吃掉 290+ 名额,
;                   预缓存太多会崩服 "Model '*N' ... over the 512 limit"。
;                   超过上限的皮肤仍进商店, 但本图显示[本图不可用], 换图可能就轮到它。
;                   0 = 不限制(危险, 老行为); 遇到崩服就调小 (例如 24/16), 稳了再加大。
;  区块:
;    [T] / [TT]  恐怖分子款
;    [CT]        反恐精英款
;
;  每款皮肤:
;    名字  模型路径  价格
;    wav 音效路径          ; 可选, 属于上一款; 可写多行, 死亡时随机一条
;
;  以后加死亡音效:
;    1. 把 wav 放到 cstrike/sound/ 下, 例如 cstrike/sound/skin/miku.wav
;    2. 在对应皮肤下一行写 (不要加分号):
;         wav skin/miku.wav
;    3. 同一款可写多行 wav, 死亡时从中随机; 多款也可复用同一个 wav
;    4. 换图/重启后生效
;
;  注意:
;    - 名字全服唯一, 定下后别改, 否则已购买记录会丢
;    - T/CT 重名的 CT 侧已加 (CT) 后缀: NALO / 人质 / 特工 / 天线宝宝
;    - 模型文件必须真实存在, 否则该款预缓存失败、不进池
;    - 玩家是 T 只显示 [T]; 是 CT 只显示 [CT]
; ============================================================

[SETTINGS]
rent_days  30
upgrade_price 2000
knife_free 1
nade_free 1
precache_max 0
checkin_bonus 10
playtime_bonus 5
playtime_seconds 3600
buy_gold_text 请联系管理员购买 GBIC 点数
;buy_gold_url http://example.com/buy

; T阵营皮肤
[T]
北极战士  models/player/arctic/arctic.mdl  0
;     wav skin/arctic.wav

天雨亚子  models/player/T0T/T0T.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
琉音  models/player/liuyin/liuyin.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
BAY  models/player/NAY/NAY.mdl  300
NALO  models/player/NATOT/NATOT.mdl  300
高飞  models/player/gaofei/gaofei.mdl  300
初音  models/player/T101/T101.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
米塔  models/player/1010T/1010T.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
可安高定  models/player/10/10.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
人质  models/player/131/131.mdl  300
特工  models/player/107/107.mdl  300
艾鸽泰尔德  models/player/1341/1341.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
内格夫  models/player/111/111.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
内格夫（裸体）  models/player/112/112.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
Mo  models/player/115/115.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
Brabani  models/player/120/120.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
小可琳  models/player/10000/10000.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
天线宝宝  models/player/XLT/XLT.mdl  300

; CT阵营皮肤
[CT]
德国GSG9  models/player/gsg9/gsg9.mdl  0
;     wav skin/gsg9.wav

小青  models/player/CT0T/CT0T.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
miia  models/player/20131019ct/20131019ct.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
蓝兔  models/player/101000/101000.mdl  300
蓝砚  models/player/qwqT/qwqT.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
NALO(CT)  models/player/NATOCT/NATOCT.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
2B  models/player/1CT/1CT.mdl  300
白子  models/player/CT01/CT01.mdl  300
扇喜葵  models/player/wCT/wCT.mdl  300
707  models/player/707/707.mdl  300
佩尔  models/player/171/171.mdl  300
人质(CT)  models/player/134/134.mdl  300
特工(CT)  models/player/108/108.mdl  300
胡桃兔女郎  models/player/110000/110000.mdl  300
白露  models/player/114/114.mdl  300
龙妃  models/player/118/118.mdl  300
perula  models/player/LINNA01/LINNA01.mdl  300
爱丽丝兔女郎  models/player/1474/1474.mdl  300
安达尔小黑猫  models/player/141411/141411.mdl  300
       wav skin/die1.wav
       wav skin/die2.wav
       wav skin/die3.wav
天线宝宝(CT)  models/player/XLCT/XLCT.mdl  300

